<% provide(:title, 'Point Interest')%>

<div class="navbar-wrapper" id="navbar1">
  <div class="container">
    <div class="navbar navbar-inverse navbar-static-top" id="navbar2" >
	  <div class="container" id="logo1">
      <%= link_to image_tag("logo.png", :alt => "logo", :width => 170, :height =>50 ), root_path, :class=>"brand" %>
	  	</div>
     	<nav role="navigation">
        <ul class="nav navbar-nav pull-right">
		  <li><%= link_to "Home",    root_path, id: "a" %></li>
          <li><%= link_to "Wiki",    info_path, id: "b" %></li>
          <li><%= link_to "Map", map_path, id: "c" %></li>
		  <li class="dropdown" id: "d">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" id="f">Places <b class="caret" id="g" ></b></a>
        <ul class="dropdown-menu">
         <li><%= link_to "Dining",    place_dining_path %></li>
          <li><%= link_to "Shopping",    place_shopping_path %></li>
          <li><%= link_to "Hiking", place_hiking_path %></li>
		  <li><%= link_to "Lodging", place_lodging_path %></li>
        </ul>
      </li>
		  <li><%= link_to "Weather", weather_path, id: "e" %></li>
        </ul>
		</nav>
      </div>
	  </div>
	  </div>
<div class="container" id="big">
<h1><%="Hking places around "+ session[:location].city+", "+ session[:location].state+", " +session[:location].country%> </h1>

<div>
<% session[:location].get_place_hiking.each do |place|%>
<% if place.has_key?('rating')  %>
<%= image_tag(place['icon'], :size => "30x30") %>
<%= place['name']+"       " +place['vicinity']%>
<%= 'Type: '+place['types'][0]+"    "+"Rating:"+place['rating'].to_s %><p>
<% else %>

<%= image_tag(place['icon'], :size => "30x30") %>
<%= place['name']+"       " +place['vicinity']%>
<%= 'Type: '+place['types'][0] %><p>
<% end%>

<% end%>
</div>
</div>


<div class="container">
<footer class="footer">
	
  <small>
    Developed by Tian Kang 
	
	
	
  </small>
  
  
  <nav>
    <ul>
      
      
	  
      <li><a href="http://developer.berkeley.edu/">Cal Developer</a></li>
    </ul>
  </nav>

</footer>
  </div>