<script>
$(document).ready(function() {
$('input').typeahead({
	name: 'locations',
  local: ['suggestion1', 'suggestion2', 'suggestion3', 'suggestion4','abc'],
  limit:4
  
});
});
</script>
<% provide(:title, "Search")%>
<h1>Geopedia</h1>


<div class="input-group" align="center" >
    <div class="form-inline">
      <%= form_tag(location_search_path,method: "get" ) do %>
      <%= text_field_tag('location', params[:location], :size => 150, :placeholder=> "Enter city or zip code", :autofocus=>true) %> 
      <%= button_tag(type: "submit", class: "btn  btn-success ", id:"bu") do %>
       Search 
             <i class="icon-search"></i>
      <% end %>
    <% end %>
    </div>
</div>
<p>
    <% [:notice, :error, :alert].each do |level| %>
        <% unless flash[level].blank? %>
        <div data-alert="alert" class="alert-message <%= flash_class(level) %> fade in" align="center">
        <%= content_tag :p, flash[level] %>
        </div>
     <% end %>
<% end %>

	
    

